
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}
h1 {
  text-align: center;
}
.periodic-grid {
  display: grid;
  grid-template-columns: repeat(18, 50px);
  gap: 4px;
  justify-content: center;
}
.element {
  padding: 8px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  transition: transform 0.2s, background-color 0.2s;
}
.alk-met {
    background-color: rgb(142, 115, 231);
}

.alk-earth {
    background-color: rgb(29, 77, 31);
}

.trans-met {
    background-color: rgb(77, 43, 77);
}

.post-trans {
 background-color: rgb(62, 77, 62);
}

.metalloid {
    background-color: rgb(53, 69, 20);
}

.reactive {
    background-color: rgb(97, 93, 106);
}

.noble-gas {
 background-color: rgb(141, 30, 141);
}

.lanthanides {
    background-color: rgb(80, 80, 148);
}

.actinides {
    background-color: rgb(62, 48, 37);
}

.other {
    background-color: rgb(119, 63, 63);
}
.element:hover {
  background-color: #d1e7ff;
  transform: scale(1.1);
}
.fallback-image img {
  width: 100%;
  display: block;
  margin: 20px auto;
}
.controls {
  text-align: center;
  margin-bottom: 15px;
}
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode .element {
  background-color: #1e1e1e;
  border-color: #555;
}
h5 {
  text-align: center;
}


